global char* c_access_token = "";
global char* c_tiktok_session_id = "";
global char* c_twitch_refresh_token = "";
global char* c_twitch_client_id = "";
global char* c_twitch_client_secret = "";
global int   c_twitch_broadcaster_id = 80953740;